.nav-link   {
    border: none;
    background-color: white;
}
.btn-close {
    border: none;
    background-color: white;
}
.no-active-border:active {
    border: none !important;
}
.title {
    font-size: 25px;
}